.ember-spreadsheet .spreadsheet-container {
  color: red;
  border-collapse: collapse;
}

.ember-spreadsheet .collection {
  position: relative;
  display: inline-block;
}

.ember-spreadsheet .header {
  white-space: nowrap;
  min-height: 31px;
}

.ember-spreadsheet .header .left-column {
  position: absolute;
  left: 0px;
  background-color: white;
  height: 31px;
  z-index: 10;
}

.ember-spreadsheet .header .right-columns {
  position: absolute;
}

.ember-spreadsheet td.right {
  border-collapse: collapse;
  width: 100%;
}

.left {
  background: #ddd;
}

.left .collection {
  height: 200px;
}

.right {
  background: #cac;
  height: 200px
}

.right .collection {
  width: 100%;
  height: 200px
}

.row {
  height: 27px;
  border-bottom: 1px solid gray;
}

.right .row {
  width: 600px;
}

.left .row {
  width: 100px;
}

.data {
  height: 25px;
}

.data .column {
  display: inline-block;
  width: 100px;
}

.right .row .data .column {
  border-right: 1px solid gray;
}