.ember-spreadsheet .spreadsheet-container {
}

.ember-spreadsheet .collection {
  position: relative;
  display: inline-block;
}

.ember-spreadsheet .spreadsheet-header {
  white-space: nowrap;
  min-height: 31px;
}

.ember-spreadsheet .spreadsheet-header .left-side {
  position: absolute;
  left: 0px;
  background-color: white;
  height: 31px;
  z-index: 10;
}

.ember-spreadsheet .spreadsheet-header .right-side {
  position: absolute;
}

.ember-spreadsheet td.right-side {
  border-collapse: collapse;
  width: 100%;
}

.ember-spreadsheet td.right-side .collection {
  width: 100%;
}

/* dummy application */
.sample.sheet.one {
  position:relative; width: 100%;
}

.sample.sheet.one .ember-spreadsheet td.left-side {
  background: #ddd;
}

.sample.sheet.one .ember-spreadsheet td.left-side .collection {
  height: 200px;
}

.sample.sheet.one .ember-spreadsheet td.right-side {
  background-color: #cac;
}

.sample.sheet.one .ember-spreadsheet td.right-side .collection {
  height: 200px;
}

.sample.sheet.one .ember-spreadsheet .row {
  height: 27px;
  border-bottom: 1px solid gray;
}

.sample.sheet.one .ember-spreadsheet td.right-side .row {
  width: 600px;
}

.sample.sheet.one .ember-spreadsheet td.left-side .row {
  width: 100px;
}

.sample.sheet.one .ember-spreadsheet .data {
  height: 25px;
}

.sample.sheet.one .ember-spreadsheet .data .column {
  display: inline-block;
  width: 100px;
}

.sample.sheet.one .ember-spreadsheet td.right-side .row .data .column {
  border-right: 1px solid gray;
}