.ember-spreadsheet .spreadsheet-container {
  color: red;
}

.ember-spreadsheet .collection {
  position: relative;
  display: inline-block;
}

.ember-spreadsheet .header {
  white-space: nowrap;
  min-height: 31px;
}

.ember-spreadsheet .header .padded-space {
  position: absolute;
  left: 0px;
  background-color: white;
  height: 31px;
  z-index: 10;
}

.ember-spreadsheet .header .start-position {
  position: absolute;
}

.left-side {
  background: #ddd;
  height: 200px;
}

.right-side {
  background: #cac;
  width: 400px;
  height: 200px
}

.row {
  height: 20px;
}

.right-side .row {
  width: 600px;
}
.data { height: 20px; }
.data .column {
  display: inline-block;
  width: 100px;
}