<p>The Spreadsheet responds to width of browser to if you shrink browser you will see
horizontal scroll
</p>
<div class="sample sheet one">
  {{#ember-spreadsheet
    itemHeight=itemHeight
    leftWidth=leftWidth

    leftHeaderComponent=leftHeaderComponent
    leftItems=leftItems

    rightHeaderComponent=rightHeaderComponent
    rightItems=rightItems
    rightSideComponent=rightSideComponent
  as |hash|}}
    {{#if hash.isLeftSideItem}}
      {{left-row item=hash.item}}
    {{/if}}
  {{/ember-spreadsheet}}
</div>

